.wow_deathknight { color: #c41f3b; }
.wow_druid { color: #ff7d0a; }
.wow_hunter { color: #abd473; }
.wow_mage { color: #69ccf0; }
.wow_paladin { color: #f58cba; }
.wow_priest { color: #ffffff; }
.wow_rogue { color: #fff569; }
.wow_shaman { color: #0070de; }
.wow_warlock { color: #9482c9; }
.wow_warrior { color: #c79c6e; }