.wrLow { color: #ff8000; }
.wrHigh { color: #00FF00; }
.wrMedium { color: #ffd517; }
.wrNone { color: #d80000; }

.DeathKnight { color: #C41F3B; }
.Druid { color: #FF7D0A; }
.Hunter { color: #ABD473; }
.Mage { color: #69CCF0; }
.Paladin { color: #F58CBA; }
.Priest { color: #FFFFFF; }
.Rogue { color: #FFF569; }
.Shaman { color: #0070DE; }
.Warlock { color: #9482C9; }
.Warrior { color: #C79C6E; }